.SliderWrap{
  width: 100%;
  overflow: hidden;
  .Slider{
    width: auto;
    display: flex;
    flex-direction: row;
    transform: translate3d(0%, 0, 0);
    transition: transform .5s ease-in-out;
    overflow: hidden;
  }

  .Buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    margin: auto;

    .Button{
      width: 30px;
      height: 15px;
      margin: 0 5px;
      background: #4472CAaa;
      border-radius: 5px;
    }

    .Button.selected{
      background: #4472CA;
    }
  }

}